node_modules
vendor
.env
.env.prod
.git
.github
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar/*
docker-compose.yml
docker-compose.prod.yml
compose.yaml
*.md
.editorconfig
.gitattributes
.claude
.junie
.mcp.json
boost.json
auth.json
rr
