.order-form {
    .order-summary {
        .item {
            text-align: right;
            &:not(:first-child)::before {
                content: "\A";
                display: block;
            }
        }
    }
}
